<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="Shortcut Icon" type="image/x-icon" href="/images/blog/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  
  <link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/grids-responsive-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/rouge.css" | prepend: site.baseurl }}">

</head>

  <body>
    <div class="body_container">
      <div id="header">
        <div class="site-name">
          <h1 class="hidden">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <a id="logo" href="{{ site.baseurl }}/.">{{ site.title }}</a>
          <p class="description">
            {{ site.subtitle }}
            &nbsp;
            作者:
            {{ site.author }}
          </p>
        </div>
        <div id="nav-menu">
          {% for menu in site.menu %}
            <a href="{{ site.baseurl }}/{{ menu.directory }}">
              <i class="{{ menu.icon }}"> 
                <b class="icon-text">{{ menu.page }}</b>
              </i>
            </a>
          {% endfor %}
        </div>
      <script type="text/javascript">
      var menus=document.getElementById('nav-menu');
      var ishome = true;
      for (var i=1;i<menus.childElementCount;i++) {
        var path = location.href;
        var current = path.startsWith(menus.children[i].href);
        if (current) {
          menus.children[i].className ='current';
          ishome = false;
          break;
        }
      }
      if (ishome) {
      	menus.children[0].className ='current';
      }
      </script>
      </div>

      <div id="layout" class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4">
          <div class="content_container">
            {{ content }}
          </div>
        </div>
        
        <div class="pure-u-1-4">
          <div id="sidebar">
            <div class="widget">
              {% if site.baidu_search %}
                <form action="//www.baidu.com/s?gpc=stf" method="get" accept-charset="utf-8" target="_blank" class="search-form">
                  <input type="text" name="q1" maxlength="20" placeholder="Search" class="search-form-input">
                  <!--<input type="hidden" name="q6" value="{{ site.url }}">-->
                </form>
              {% endif %}
              {% if site.google_search %}
                <form action="//www.google.com/search" method="get" accept-charset="utf-8" target="_blank" class="search-form">
                <input type="text" name="q" maxlength="20" placeholder="Search" class="search-form-input">
                <input type="hidden" name="sitesearch" value="{{ site.url }}">
                </form>
              {% endif %}
            </div>

            <div class="widget">
              <div class="widget-title">🚩{{ site.sloganTitle }}</div>
              <ul></ul>
              <div style="font-family:华文行楷;font-size: 18px;">{{ site.sloganContent }}</div>
              <br>

              <td style="text-align: center;">
                  公众号:
                  <a id="wechatLink" href="https://mp.weixin.qq.com/s/fbg81XP9gTSUX2Ipfgc4fQ"
                    style="color:darkorange;" target="_blank" title="点击直达微信公众号～">
                    <u><b>微听音悦</b></u>
                  </a>

                  <div id="wechatDiv" style="display: none;">
                    <img src="{{ site.baseurl }}/images/wechat/wechat.png" style="width: 150px;"/>
                  </div>
              </td>

              <p/>

              <td style="text-align: center;">
                  邮&nbsp;&nbsp;&nbsp;箱:
                  <u><b>{{ site.email }}</b></u>
              </td>
            </div>
            
            <div class="widget">
                <div class="widget-title">📖文章分类</div>
                <ul class="category-list" style="list-style-type:disc;padding-left:20px; ">
                  {% for category in site.categories %}
                    <li class="category-list-item">
                      <a class="category-list-link" href="{{ "" | prepend: site.baseurl }}/category?key={{ category[0] }}">{{ category[0] }}({{ category[1] | size }})</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
              
            <div class="widget">
                <div class="widget-title">🏷️文章标签</div>
                <div class="tagcloud">
                  <ul style="list-style-type:disc;padding-left:20px; ">
                  {% for tag in site.tags %}
                      <li>
                        <a href="{{ "" | prepend: site.baseurl }}/tag?key={{ tag[0] }}">{{ tag[0] }}({{ tag[1] | size }})</a>
                      </li>
                  {% endfor %}
                  </ul>
                </div>
            </div>

            <div class="widget">
                <div class="widget-title">💻相关推荐</div>
                <ul class="post-list"  style="list-style-type:disc;padding-left:20px; ">
                {% for relate in site.relates %}
                  <li class="post-list-item">
                    <a class="post-list-link" target="_blank" href="{{ relate.url }}">{{ relate.title }} </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
              
            <div class="widget">
              <div class="widget-title">🔗友情链接</div>
              {% for link in site.links %}
                <a href="{{ site.baseurl }}/{{ menu.directory }}"><i class="{{ menu.icon }}"> {{ menu.page }}</i></a>
                <ul></ul><a href="{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div id="footer">Copyright © 
        <span id="year"></span>
        <a href="{{ site.baseurl }}/." rel="nofollow">{{ site.title }}.</a> 
        {% if site.beian %}
        <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> {{ site.beian }}.</a>
        {% endif %}
      </div>
      
      <a id="rocket" href="#top" class="show"></a>
      
      <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/js/totop.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/js/fancybox.pack.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/js/jquery.fancybox.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <link rel="stylesheet" href="{{ "/css/jquery.fancybox.css" | prepend: site.baseurl }}" type="text/css">
      <script type="text/javascript">
        // 点击监控事件
        $(document).bind('click', function(e) {
          var divDiplay = $('#pay_div').css('display') ;

          if(divDiplay=='block'){
            var e = e || window.event; //浏览器兼容性 
            var elem = e.target || e.srcElement;
            if(elem.id !== 'dashang'){
              while (elem) { //循环判断至跟节点，防止点击的是div子元素 
                if (elem.id && (elem.id == 'pay_div' || elem.id == 'dashang')) {
                  return;
                }
                elem = elem.parentNode;
              }
              dashangToggle(); //点击的不是div或其子元素 
            }
          }
        });

        $("#wechatLink").hover(function () {
            $("#wechatDiv").show(1000);
            //$("#wechatDiv").slideDown();
        }, function () {
            $("#wechatDiv").hide(1000);
            //$("#wechatDiv").slideUp();
        })
      </script>

      <!-- 百度统计 -->
      <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{site.baiduId}}";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
      </script>  

      <script>
          var date = document.write(new Date().getFullYear());
          document.getElementById("year").innerText = date;
      </script>
    </div>

  </body>

</html>
